<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="main-header" th:fragment="navbar(companyName)">
    <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img th:src="@{assets/img/logo.svg}"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <!-- Navbar Header -->
    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
        <div class="container-fluid align-items-center">
            <h1 class="h4 fw-bold text-uppercase text-primary op-8" th:text="${companyName}"></h1>
        </div>
    </nav>
    <!-- End Navbar -->
</div>
</html>
